[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple"
verify_ssl = true
name = "test.pypi"

[packages]
ipython = "*"
b4rpipe = {version = "*", index = "https://test.pypi.org/simple/"}

[dev-packages]

[requires]
python_version = "3.6"
