[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
astropy = "*"
xarray = "*"
tqdm = "*"
ipython = "*"
jupyter = "*"
matplotlib = "*"
fmflow = "*"
bokeh = "*"
PySimpleGUI = "*"
netcdf4 = "*"
python-casacore = "*"
decode = "*"

[dev-packages]

[requires]
python_version = "3.6.8"
